.top-bar {
    width: 400px;
    display: flex;
    padding: 16px;
    text-align: center;
    background-color: #0E4D92;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    color: white;
    font-size: 24px;
    justify-content: center;
}

.clock-icon {


filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(135deg) brightness(111%) contrast(101%);
    width:30px;
    margin: 0 16px;
    height: 30px;
}