.stopwatch {
    width: 450px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 64px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}
.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid blue;
    background-color: white;
    color: blue;
    margin: 8px;
}
.btn:hover {
    background-color: blue;
    color: white;
}