.window {
    min-width: 700px;
    background-color: white;
    height:400px;
    border-radius: 8px;
}
.taskbar {
    background-color: #E8E8E8;
    display: flex;
    padding: 4px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.taskbar-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:0px 4px;
}
.taskbar-btn.red {
    background-color: #FC5E56;
}
.taskbar-btn.yellow {
    background-color: #FEBB30;
}
.taskbar-btn.green {
    background-color: #25C63F;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}